div {
  margin-left: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 25%;

}

.sq1 {
  background-color: rgb(164, 99, 224);
  width: 50%;
  height: 50%;
}

.sq2 {
  background-color: rgb(238, 219, 110);
  width: 40%;
  height: 40%;
}

.sq3  {
  background-color: rgb(140, 226, 226);
  width: 30%;
  height: 30%;
}

/* hello there */