body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: red;
}

.square2 {
  background-color: blue;
}

.square3 {
  background-color: purple;
}